.faq-question {
  background: none;
  border: none;
  color: #a2b2ee;
  font-size: 1.5rem;
  font-weight: 600;
}

.faq-question:hover{
  cursor: url("/images/customCursor.png"), pointer;
  color:  #849bec;
}

.faq-icon {
  font-size: 2rem;
  font-weight: 900;
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: url("/images/customCursor.png"), pointer;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  color: whitesmoke;
  line-height: 1.6;
  font-size: 1.2rem;
  transition: max-height 0.4s ease;
  cursor: url("/images/customCursor.png"), pointer;
}

/* Active state */
.faq-item.active .faq-answer {
  max-height: 300px;
}

.faq-item.active .faq-icon {
  transform: rotate(135deg);
}